@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'g-sans';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'g-sans';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'g-sans';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'eunbyul';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_eunbyul21-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@layer components {
  .text-title {
    @apply text-4xl font-letter text-shadow shadow-base-content text-base-content sm:text-6xl;
  }
  .text-sub-title {
    @apply text-2xl font-letter text-shadow shadow-base-content text-base-content sm:text-4xl;
  }
}

.notion-page-content-inner,
.notion-page-content {
  @apply !w-full !max-w-screen-lg;
}

.notion-aside {
  right: calc(50% - 528px) !important;
  transform: translateX(100%);
  position: fixed !important;
}
.notion-aside > div {
  @apply !bg-base-200;
}

.notion-page {
  @apply !px-2 !py-4 !w-full;
}
.notion-frame {
  @apply !p-0;
}
.notion-header {
  @apply !top-16;
}
.notion-app,
.notion-header,
.notion-nav-header > .breadcrumbs > .breadcrumb {
  @apply !text-base-content !bg-base-100;
}

.notion-link {
  @apply !text-primary !border-primary;
}
.notion-hr {
  @apply !h-[1px] !bg-base-content !bg-opacity-60;
}
.notion-page-icon-hero {
  @apply !hidden;
}
.notion-collection-row-value {
  @apply whitespace-break-spaces;
}
.notion-collection-row {
  @apply !border-b-2 !border-success !border-opacity-60;
}
