@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'aggro';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'aggro';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'aggro';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: 'g-sans';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'g-sans';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'g-sans';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'eunbyul';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_eunbyul21-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@layer components {
  .text-title {
    @apply text-4xl font-aggro font-bold text-base-content sm:text-5xl sm:leading-tight leading-tight;
  }
  .text-sub-title {
    @apply text-2xl text-base-content;
  }
}

* {
  scroll-margin-top: 2rem !important;
  scroll-behavior: smooth !important;
}
.notion-page-content-inner,
.notion-page-content {
  @apply !w-full !max-w-screen-lg;
}

@media (max-width: 1700px) {
  .notion-aside {
    display: none !important;
  }
}

.notion-aside {
  right: calc(50% - 528px) !important;
  transform: translateX(100%);
  position: fixed !important;
}
.notion-aside > div {
  @apply !bg-base-200;
}

.notion-page {
  @apply !px-2 !py-4 !w-full;
}
.notion-frame {
  @apply !p-0;
}
.notion-collection-row {
  @apply !border-b-2 !border-success !border-opacity-60;
}
.notion-link {
  @apply !text-primary !border-primary;
}
.notion-hr {
  @apply !h-[1px] !bg-base-content !bg-opacity-60;
}

.notion-page-icon-hero,.notion-aside-table-of-contents-header {
  @apply !hidden;
}
.notion-aside{
  @apply !flex-col-reverse
}
.notion-collection-row-value {
  @apply whitespace-break-spaces;
}

* {
  --rmsc-main: oklch(var(--in));
  --rmsc-hover: oklch(var(--b2));
  --rmsc-selected: oklch(var(--in));
  --rmsc-border: #ccc;
  --rmsc-gray: #aaa;
  --rmsc-bg: oklch(var(--b1));
  --rmsc-p: 10px;
  --rmsc-radius: 4px;
  --rmsc-h: 38px;

  --fg-color: oklch(var(--bc));
  --fg-color-0: oklch(var(--b)/0.9);
  --fg-color-1: oklch(var(--bc)/0.85);
  --fg-color-2: oklch(var(--bc)/0.8);
  --fg-color-3: oklch(var(--bc)/0.75);
  --fg-color-4: #000;
  --fg-color-5: oklch(var(--bc)/0.7);
  --fg-color-6: oklch(var(--bc)/0.65);
  --fg-color-icon: var(--fg-color);
  --bg-color: oklch(var(--b1));
  --bg-color-0: oklch(var(--b1)/80);
  --bg-color-1: oklch(var(--b3))
  --bg-color-2: oklch(var(--b3)/80);
  --select-color-0: oklch(var(--su)/0.7);
  --select-color-1: oklch(var(--su)/0.2);
  --select-color-2: oklch(var(--su));
}
.rmsc .select-item.selected {
  @apply !bg-info !text-info-content;
}
.rmsc .item-renderer {
  @apply !items-center;
}
.rmsc .item-renderer input {
  @apply checkbox checkbox-xs !w-4 !h-4;
}
.my-text-shadow{
  text-shadow: .1em .1em 0 oklch(var(--a)/0.2);
}
